<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <%= image_tag 'img/chi.jpg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class= "content">
      <nav class = "side_nav">
        <% if @cart %>
        <div id="cart" class= "carts">
          <%= render @cart %>
        </div>
        <% end %>
        <ul>
          <li><a href="/" title="">Home</a></li>
          <li><a href="/questions" title="">Questions</a></li>
          <li><a href="/news" title="">News</a></li>
          <li><a href="/contact" title="">Contact</a></li>
        </ul>
      </nav>
       <main class = '<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
